{%  extends 'base.html' %}
        {%  block content %}
<div style="width: 100px; height: 100px; background-color: red;"><a href="energy/addinvoicecosts">Dodaj fakturę</a><br></div>
<div style="width: 100px; height: 100px; background-color: red;text-align: center;"><a href="energy/invoice">Lista faktur</a><br><br></div>
<div style="width: 100px; height: 100px; background-color: blue;text-align: center;"><a href="energy/addmeterread">Dodaj odczyty</a><br><br></div>

<a href="energy/readings">Lista Odczytów</a><br>


{%  endblock %}


